<table class="ui celled table">
  <thead>
  <tr><th>Header</th>
    <th>Header</th>
    <th>Header</th>
  </tr></thead>
  <tbody>
  <tr>
    <td>
      <div class="ui card">
        <div class="content">
          <div class="header">Senior's Golf Tournament</div>
          <div class="description">
            800 - 1000
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="ui card">
        <div class="content">
          <div class="header">Senior's Golf Tournament</div>
          <div class="description">
            800 - 1000
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="ui card">
        <div class="content">
          <div class="header">Senior's Golf Tournament</div>
          <div class="description">
            800 - 1000
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>Cell</td>
    <td>Cell</td>
    <td>Cell</td>
  </tr>
  <tr>
    <td>Cell</td>
    <td>Cell</td>
    <td>Cell</td>
  </tr>
  </tbody>
