<div *ngFor="let day of week">
  <table *ngIf="day.events.length != 0" class="ui celled table">
    <thead>
    <tr>
      <th>{{day.dayOfWeek}}</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of day.events">
        <td>
          <div class="ui card">
            <div class="content">
              <div class="header">{{event.activityCategory}}</div>
              <div class="description">
                Start: {{event.startDateTime}}
                End: {{event.endDateTime}}
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
